
*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    color: #dadada;
}
html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #222;
}
#main{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #222;
    
    /* overflow-x: hidden; */
}

#full-scr-nav{
    width: 100%;
    height: 100%;
    background-color: bisque;
    color: #222;
    position: absolute;
    top: -100%;
    border-radius: 40px ; 
    transition: all ease 1s;
}
#full-scr-nav h1{
    font-size: 250px;
    color: #222;
    padding: 150px 100px;
    

}
#nav{
    width: 92%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    position: absolute;
    z-index: 99;
   
}
 #nav h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 26px;
    color: #dadada;
}
#nav-prt2{
    display: flex;
    align-items: center;
}
#nav-prt2 h3{
    color: #dadada;
}
#nav-prt2 i{
    font-size: 30px;
    margin-left: 50px;
    cursor: pointer;
    color: #dadada;
} 
#page1{
    width: 100%;
    min-height: 100%;
    position: relative;

}
#page1 h1{
    position: absolute;
    font-size: 13vw;
    left: 5.5%;
    top: 28%;
    font-weight: 600;
    letter-spacing: 7px;
}
#page1 h2{
    position: absolute;
    width: 22%;
    /* background-color: red; */
    font-size: 2.5vw;
    top: 55%;
    left: 15%;
    line-height: 2vw;
}
#page1 h3{
    position: absolute;
    width: 13%;
    /* background-color: red; */
    font-size: 1.5vw;
    top: 60%;
    left: 70%;
    line-height: 1.5vw;
}
#page1 img{
  position: absolute;  
  top: 90%;
  width: 100vw;
  background-size: cover;
  transform: scale(0.9);
  height: 100vh;
  
}
#page2{
    position: relative;
    width: 100%;
    height: 100%;
    top: 110%;
}
#page2 h1{
    position: absolute;
    width: 40%;
    /* background-color: red; */
    left: 30%;
}
#page2 h1 span{
    font-family: dancing script;
}

#page3{
    width: 92vw;
    height: 100vh;
}
#page4{
    width: 98.6vw;
    height: 100vh;
    position: relative;
    /* background-image: url(https://t4.ftcdn.net/jpg/02/43/75/73/360_F_243757367_gBpS6R5c8DB7pL5gw9gi9KXlzFfbdZOA.jpg); */
}
#page4-elems{
    width: 98.6vw;
    height: 150px;
    /* background-color: yellow; */
    display: flex;
}
#page4-elem1{
    width: 70%;
    height: 100%;
    /* background-color: red; */
}
#page4-elem1 h1{
    font-size: 3.3764vw;
    padding:15px 60px;
    border: 1px solid white;
}
#page4-elem2{
    width: 30%;
    height: 100%;
    /* background-color: lawngreen; */
}
#page4-elem2 h3{
    font-size: 1.9vw;
    padding:23px 50px;
    border-top: 1px solid white ;
    border-bottom: 1px solid white;
}
#page4-content{
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
#page4-content h1{
    font-size: 4vw;
    line-height: 5vh;
}
#page4-content h1 span{
    font-family: dancing script;
}
#page4-content h4{
    font-size: 1.1vw;
    margin-top: 3%;
}
#page5{
    width: 98.6vw;
    height: 100vh;
    position: relative;
}
#page5-slide h1{
    font-size: 10vw;
    line-height: 18vh;
    overflow-x: scroll;
    overflow-y: inherit;
}
#page5-slide #slide1{
    overflow-x: auto;
    overflow-y: hidden;
    cursor: default;
}
#page5-slide #slide2{
    overflow-x: auto;
    overflow-y: hidden;
    cursor: default;
    transform: translateX(-25px);
}
#page5-slide #slide1::-webkit-scrollbar{
    display: none;
}
#page5-slide #slide2::-webkit-scrollbar{
    display: none;
}
#page5-slide h1 #one2{
    color: transparent;
    -webkit-text-stroke: 1px #dadada;
}
#page6{
    width: 98.6vw;
    height: 100vh;
    /* position: relative; */
    
}
#page6 h1{
    /* position: absolute; */
    /* top: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vw;
    flex-direction: column;
    margin-top: 20%;
    
    /* background-color: blue; */
} 
#page6 h1 span{
    font-family: dancing script;

}
#page6-elem {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3%;
    

}
#page6-elem #element1{
   
    width: 250px;
    height: 250px;
    /* background-color: yellow; */
    display: flex; 
    align-items: center;
    justify-content: center;
}
#page6-elem #element1 h1{
    font-size: 4vw;

}
#page6-elem #element2{
    width: 250px;
    height: 250px;
    /* background-color: red; */
    display: flex; 
    align-items: center;
    justify-content: center;
}
#page6-elem #element2 h1{
    font-size: 4vw;

}